body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee+Spice&family=Oswald:wght@500&family=Pacifico&family=Roboto&display=swap');




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: gray;
}
.layout {
  background-color: black;
  color: white;
}
.sectionone-submain button {
  background-color: black;
  color: white;
  height: 35px;
  font-size: 16.5px;
  text-transform: uppercase;
  border-radius: 5px;
}